body{
  background:black;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 1200px;
}
nav{
  background: black;
  padding: 15px;
  border-bottom: 2px solid aqua;
  border-bottom-left-radius:15px;
  border-bottom-right-radius: 15px;
  position: fixed;
  top:0;
  left:0;
  right:0;
}
.links{
  display:flex;
  gap:20px;
  justify-content: space-evenly;
}
nav a{
  text-decoration: none;
  color: aqua;
  font-weight: bolder;
}
main{
  margin-top: 150px;
  padding:15px;
  margin-bottom: 70px;
}
.budget-update{
  font-size: 8px;
}
.card,.delete{
  border:2px solid aqua;
  border-radius: 15px;
  margin-bottom: 20px;
  padding:10px;
  text-align: center;
  font-weight:bold;
  background: black;
}
.delete{
  position:fixed;
}
.delete_container{
  display: none;
  position:fixed;
}
.analytics-container{
  display:grid;
  gap:20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.input,.input-weekly{
  border: 2px solid aqua;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  display:none;
}
.input-weekly{
  display:block;
}
input,select,textarea{
  width:90%;
  border:1px solid aqua;
  padding:10px;
  border-radius:15px;
}
button{
  background: aqua;
  color:black;
  font-weight:bold;
  padding:15px;
  border-radius: 15px;
}
.btn-container{
  display:flex;
  gap:15px;
  justify-content: center;
}
button a{
  text-decoration: none;
  color:black;
  font-weight: bold;
}
nav a:hover{
  color:white;
}
button:hover{
  transition:1s;
  background:blue;
}
.add-expense-con{
  text-align: center;
  bottom: 0;
  left: 0;
  right:0;
  position:fixed;
  
}
.add{
  width:90%;
}
.analytics-currency{
  display:flex;
  justify-content: space-evenly;
  font-size: 13px;
}
@media (max-width: 768px){
  .analytics-container{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 375px){
  .analytics-container{
    display:grid;
    gap:20;
    grid-template-columns: 1fr;
  }
}
